@tailwind base;
@tailwind components;
@tailwind utilities;

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

.hero-desktop{
    background: url('../src/assets/bg-pattern-intro-desktop.svg');
    background-size: cover;
}


.titleH2{
    @apply text-primary-veryDarkBlue text-2xl font-semibold font-overpass
}

.parrafo{
    @apply text-neutral-VeryDarkGrayishBlue font-overpass
}

.textContainer{
    @apply flex flex-col gap-4 md:w-[510px]
}